<div class="back">返回</div>

<div class="d_content">
  <div class="d_info">
    <img [src]="domain+list.img_url" />
    <h2>{{list.title}}</h2>
    <p class="price">{{list.price}}/份</p>
  </div>
  <div class="d_detial">
    <h3>Food Detail</h3>
    <div class="d_content" [innerHTML]='list.content'></div>
  </div>
</div>


<footer class="dfooter">

  <div class="cart">
    <strong>Number:</strong>
    <div class="cart_num">
      <div class="input_left">-</div>
      <div class="input_center">
        <input type="text" readonly="readonly" value="1" name="num" id="num" />
      </div>
      <div class="input_right">+</div>
    </div>

  </div>

  <button class="addcart">Add to Cart</button>
</footer>
