header {
  height: 44px;
  line-height: 44px;
  background-color: #000000;
  font-size: large;
  font-weight: bold;

  a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
  }
  .active {
    color: #cebbab;
    text-decoration: underline;
  }
}
