.section {
  padding: 3em 2em;
  border: 2px solid lightgray;
  margin-bottom: 2em;
}

button {
  padding: 0.5em;
  font-weight: bold;
  background-color: lightgray;
  border-radius: 3px;
  outline-style: none;
}

input {
  border: 2px solid lightgrey;
  height: 2.5em;
  margin-bottom: 1em;
  outline-style: none;
}
